* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: blue;
  text-decoration: none;
}


/* LAYOUT */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-50 {
  width: 50%;
}


/* CUSTOM */

#menu {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}