* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",sans serif;
}

header {
  padding: 15px 0px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}


/* LAYOUT */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-25 {
  width: 25%;
}

.col-75 {
  width: 75%;
}

/* UTILITY */

.align-items-center {
  align-items: center;
}


/* CUSTOM */

#menu {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  height: 100%;
  padding-top: 40px;
}

#menu li {
  margin: 0 20px;
}

#menu li.active {
  border-bottom: 5px solid #0C7CEC;
}

#menu li.active a {
color: #0C7CEC;
}

#menu li a {
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;

}